/*
Theme Name:         SJU Blogs Theme - 2015 Redesign
Theme URI:          http://wordpress.sju.edu
Description:        This theme is based off of the Roots SJU theme, but with special customizations for the Blogs website.  This includes the implementation of an Author custom post type.
Version:            1
Author:             Saint Joseph's University | Kelly Anne Pipe
Author URI:         http://www.sju.edu/

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/


#comments-title {
	margin: 20px 0 0;
	text-align: center;
}
.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment-list ol {
	list-style: decimal;
}
.comment-list li {
	background-color: #FFF;
	margin: 5px 0;
}
.comment-list .bypostauthor {
}
.comment-list li cite {
	color: #111;
}
.comment-list li.alt {
	background: #E6E6E6;
}
.comment-list .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}
.comment-list .avatar {
	border-radius: 2px;
	float: left;
	margin: 0 10px 5px 0;
	padding: 0;
	vertical-align: middle;
}
.comment-author .fn {
}
.comment-author .says {
	color: #999;
}
.comment-body .comment-meta {
	display: inline-block;
	margin: 0 0 15px;
	padding: 0;
	text-align: left;
	color: #999;
}
.comment-body {
	clear: both;
	padding: 10px;
}
.comment-body p {
	clear: both;
}
.comment-body .reply {
}
.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
}
#commentform {
	margin: 0;
}
#respond {
	background: #F8F8F8;
	clear: both;
	padding: 10px 30px 20px;
	margin: 0px -30px;
}
#respond input,
#respond textarea {
	display: block;
}
.reply {
	margin: 10px 0;
}
#commentform {
	margin-top: 10px;
}
#commentform p {
	margin: 10px 0;
}
#commentform #comment {
	width: 100%;
}
#cancel-comment-reply-link {
	color: #C45252;
}
p.form-allowed-tags,
p.form-allowed-tags code {
	font-size: 10pt !important;
}

.full-author-list{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.full-author-list article, .full-author-list .media{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-flex-basis:45%;
	    -ms-flex-preferred-size:45%;
	        flex-basis:45%;
	margin: 15px;
	padding: 10px;
}
