@font-face {
  font-family: "FrutigerLTW01-55Roman";
  src: url("../fonts/frutigerltw01-55roman.eot?iefix") format("eot");
}
@font-face {
  font-family: "FrutigerLTW01-55Roman";
  src: url("../fonts/frutigerltw01-55roman.eot?iefix");
  src: url("../fonts/frutigerltw01-55roman.woff") format("woff"), url("../fonts/frutigerltw01-55roman.ttf") format("truetype"), url("../fonts/frutigerltw01-55roman.svg") format("svg");
}
@font-face {
  font-family: "FrutigerLTW01-57Condens";
  src: url("../fonts/frutigerltw01-57condensed.eot?iefix") format("eot");
}
@font-face {
  font-family: "FrutigerLTW01-57Condens";
  src: url("../fonts/frutigerltw01-57condensed.eot?iefix");
  src: url("../fonts/frutigerltw01-57condensed.woff") format("woff"), url("../fonts/frutigerltw01-57condensed.ttf") format("truetype"), url("../fonts/frutigerltw01-57condensed.svg") format("svg");
}
@font-face {
  font-family: "FrutigerLTW01-67BoldCn";
  src: url("../fonts/frutigerltw01-567boldcn.eot?iefix") format("eot");
}
@font-face {
  font-family: "FrutigerLTW01-67BoldCn";
  src: url("../fonts/frutigerltw01-67boldcn.eot?iefix");
  src: url("../fonts/frutigerltw01-67boldcn.woff") format("woff"), url("../fonts/frutigerltw01-67boldcn.ttf") format("truetype"), url("../fonts/frutigerltw01-67boldcn.svg") format("svg");
}