/*!
 * Roots 6.5.0
 */
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700);
@import "bootstrap/bootstrap.less";

@import "../fontawesome/less/font-awesome.less";

// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/fonts.less";


/* ==========================================================================
   Base
   ========================================================================== */
html{
  font-size: 14px;
}
body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background: #eee;
  font-family: "Lora", "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4{
  color:@brand-primary;
  &.magis{
    text-shadow: 2px 2px 8px #000;
    .whitebg &{text-shadow:none;}
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=130,strength=3);
    color: #FFF;
    .whitebg &{color: #333;}
  }
}

.magis{
  font-size:1.5em;
  margin: 5px;
  .whitebg &{ font-size:1.25em;}
}


/* ==========================================================================
   Header
   ========================================================================== */
@import "sju_mainheader.less";

.navbar{
  font-size:12px;
}
.blogs-header{
  position:relative;
  @media (min-width: @screen-sm-min) {
    height: 234px;
  }
  @media (min-width: @screen-md-min) {
    height: 303px;
  }
  @media (min-width: @screen-lg-min) {
    height: 365px;
  }
}
.header-image{
  @media (min-width: @screen-sm-min) {
    position:absolute;
    top:0;
    z-index: -5;
  }
  .header-image-bar{
    background-color: #FFF;
    height: 4px;
    width: 100%;
    position: relative;
    z-index: 100;
    margin-top: -10px;
    margin-bottom: 6px;
  }
  img{
    .img-responsive();
  }
}
.site-brand{
  padding-top:40px;
  a{
    color: white;
  }
}

.site-header .brand{
  color: @brand-primary;
  &:hover{
    text-decoration: none;
  }
}

/* ==========================================================================
   Author Header
   ========================================================================== */

.author-header{
  .author-info h1 {
    display: block;
    background-color: #b30838;
    margin: 0;
    padding: 10px 5px 5px 30px;
    margin-left: -30px;
    color: white;
  }
  .author-info h2{
    margin-top:0;
  }
  figure img{
    .img-responsive();
  }
  background-color: darken(white,3%);
  padding: 20px;
  .box-shadow(0 -1px 16px rgba(0,0,0,0.15) inset);
}

.author-widget{
  //background-color: darken(@brand-primary,15%);
  background-color:@gray;
  margin: 0 -15px 20px -15px;
  padding:30px;
  .author-info a{
    color:white;
  }
  //strong{color:@brand-primary;
  color:white;
}

.author-list{
  margin:5px 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  h2{
    margin:0;
    font-size: 1.25em;
  }
}


/* ==========================================================================
   Content
   ========================================================================== */
.page-content{
  @media (min-width: @screen-sm-min) {
    position:relative; // setup for full-height sidebar
  }
}

.content { 
  img{
    max-width:100%;
    height:auto;
  }
  .wp-caption{
    max-width:100%;
  }
}


.metro-block{
  background:white;
  background: rgba(255, 255, 255, 0.95);
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  padding:10px;
  .transition(background .2s linear);
  &:hover{
    background:white;
  }
}

.page-wrap{
  margin-top:30px;
}



.custom-header{
  width:100%;
  max-width:100%;
  height:auto;
} 

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { 

}
.main article{
  border-top:8px solid @brand-primary;
  background-color:white;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  margin-bottom: 20px;
}

.taxarchive{
  h1, h2{
    margin:0;
  }
  h2{
    color:@gray-dark;
    font-style: italic;
    font-size:1.25em;
  }
  border-bottom: 1px solid @brand-primary;
  margin-bottom:10px;
}

/* Gallery Shortcode */
.row.gallery-row { padding: 15px 0; }


.page-header{
  margin: 30px 0 20px;
  h1{
    margin-top:0;
  }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {

}
.hh-filter{
  font-size:.85em;
  h2{
    border-bottom:1px solid;
  }
  section{
    margin: 15px 0;
  }
  h3{
    font-size:1.5em;
    margin: 10px 0 5px;
  }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.post{
  font-size: 15px;
  line-height: 1.6;
}
.post .entry-content, .post .entry-summary{
  padding: 10px 30px;
}
.post .entry-title {
  padding: 0;
  margin: 20px 30px;
  font-size: 2.5em;
}
.post-categories{
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.post .published {
  background-color: #ddd;
  display: inline-block;
  margin: -30px;
  padding: 5px 15px 5px 30px;
}
.archive-post .published {
  margin: 0;
  padding: 0 10px;
}
.archive-post .byline {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0 10px;
  a{color: @brand-primary;}
}
.excerpt-details{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
  font-size: 12px;
}
.excerpt-details-comments{
  border-top: 1px solid #bbb;
  padding: 5px 10px;
  background-color: #eee;
}
article.sticky{
  background-color:@gray-lighter;
  border-left:5px solid @brand-primary;
  padding: 10px 20px;
  border-bottom:none;
}
.entry-meta{
  //background-color:@gray-lighter;
  padding:0 30px;
  border-bottom: @gray-light;
  .clearfix();
  font-size:.85em;
  p{margin:0;}
  
}
.hentry header {
  margin-bottom:10px; 
  img{
    width:100%;
    .img-responsive();
  }  
}
.header-img-vertical{
    float:right;
    width:25%;
}

.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


.caption{
  font-size:.85em;
}

.archive-post{
  h2{
    margin:0;
  }
}
/* ==========================================================================
   Comments
   ========================================================================== */
   
#comments{
  border-top: 5px solid @brand-primary;
  margin-top: 30px;
  padding: 0px 30px;
  h3{color:@gray-dark;}
  .comments-header {
    border-bottom: 3px solid @gray-lighter;
    margin: 60px 0 0;
    /* padding-bottom: 10px; */
  }
  .comments-main-header {
    border-bottom: 3px solid @brand-primary;
    margin: 0 0 -3px;
    display: inline-block;
    padding: 0 10px 10px 0;
  }
  .comment-submit{
    padding-top: 10px;
  }
}
// styles for a single comment
.comment-header time{
  font-size: .65em;
  font-family:@font-family-sans-serif;
  &, a{ color:@gray-light; }
  span{
    padding: 0 7px;
  }
}
li.comment{
  padding: 10px inherit;
}
#respond h5{
  strong{
    font-weight: normal;
    color:@brand-primary;
  }
}

/* ==========================================================================
   Widgets
   ========================================================================== */
.widget h3{
  text-transform: uppercase;
  font-size: 1.25em;
  color:@brand-primary;
  border-top: 5px solid #ccc;
  padding: 10px;
  margin-top:0;
  margin: 0 -10px;
}
.sidebar .widget{
  background-color: fade(white,90%);
  padding: 0 10px 10px;
  margin: 10px 0;
}
.sidebar .widget.widget_search{
  background-color:transparent;
  padding:0;
}
/* Widgets */
.widgettitle{
  font-size:14px;
  text-transform: uppercase;
}
.widget ul{
  list-style: none;
  padding:0;
  margin:0;
  li{
    display:block;
    border-bottom: 1px solid #DDD;
    &:not(.recentcomments) a, &.recentcomments{
      display: block;
      padding: 5px 10px;
    }
    a{
      display:inline-block;
      background:transparent;
      text-decoration:none;
      -webkit-transition: color 250ms, background 200ms;
      -moz-transition:    color 250ms, background 200ms;
      -ms-transition:     color 250ms, background 200ms;
      -o-transition:      color 250ms, background 200ms;
      transition:         color 250ms, background 200ms;
    }
    a:hover{
      background:@brand-primary;
      color:white;
      text-shadow: 0 1px 0 #999;
    }
  }
  
}

/* ==========================================================================
   Footer
   ========================================================================== */



.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; margin: 5px 5px 5px 0;}
.alignright { float: right; margin: 5px 0 5px 5px;}
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) {
  .magis{
    font-size:2em;
    h2{font-size:1em;}
  }
  .nav-main{
    float:right;
    &.collapse{
      display:block;
    }
    .nav-pills{
      //background-color: @brand-color;
    }
    .nav-pills > li {
      border-bottom:0px;
      float:left;
       > a{
        border-radius: 0px;
        background-color: @brand-primary;
        color:white;
        border-right:1px solid white;
      }
      &:last-child > a{
        border-right:none;
      }
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: @brand-primary;
      background-color: white;
    }
    .nav-pills > li.active {
      background-color: white;
    }
    .nav-pills > li + li {
      margin-left: 0px;
    }
  
  }
  
  .post-type-archive-hawk_hosts, .single-hawk_hosts, .tax-homestate, .tax-graduation_year, .tax-major, .tax-minor, .tax-clubs{
      // set the nav for "hawk hosts" to white on all of these pages, because for
      //  some reason it doesn't get the "active" class.
      .nav-pills > li.menu-hawk-hosts{
        > a, > a:hover, > a:focus {
          color: @brand-primary;
          background-color: white;
        }
      }
  }
}

@media (min-width: @screen-md) { 
  .magis{
    font-size:2.5em;
    .whitebg &{
      font-size:2em;
    }
  }
  .whitebg .site-header .site-brand h2{
    font-size:1.5em;
  }
}

@media (min-width: @screen-lg) { 
  .magis{
    font-size:3.5em;
    .whitebg &{
      font-size:2.5em;
    }
  }
  .whitebg .site-header .site-brand h2{
    font-size:1.5em;
  }
}



/* Calendar Widget */
#wp-calendar {
	margin: 0 0 1.615em;
	width: 100%;
}
#wp-calendar caption {
	color: #777;
	padding: 0.45em 0;
	text-align: center;
}
#wp-calendar thead th {
	font-weight: bold;
	text-align: center;
}
#wp-calendar tbody td {
	background: #eee;
	border: 1px solid #fff;
	color: #777;
	padding: 0.45em 0;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot td {
	padding: 0.45em 0 0;
}
#wp-calendar tfoot #next {
	text-align: right;
}


/* Custom Post Types
.format-aside:before,
.format-video:before,
.format-audio:before,
.format-image:before,
.format-gallery:before,
.format-link:before,
.format-quote:before,
.post.format-standard.sticky:before,
.entry-content .avatar {
	font-family: 'FontAwesome';
	display: block;
	font-size:50px;
	color: #999;
	font-style: normal;
	position: absolute;
	left: -70px;
	top: 25px;
}
.format-aside:before {
	content: '\f101';
}
.format-video:before {
	content: '\f104';
}
.format-audio:before {
	content: '\f109';
}
.format-image:before {
	content: '\f102';
}
.format-gallery:before {
	content: '\f103';
}
.format-link:before {
	content: '\f107';
}
.post.format-standard.sticky:before {
	content: '\f308';
}
.format-quote:before {
	content: '\f106';
} */


/* SILHOUETTE FOOTER */
.site-footer {
  min-height: 250px;
  position: relative;
  background-color: #9e1b32;
  padding: 40px 0 0;
}
.site-footer, .site-footer a{
  color: white;
  font-size: 14px;
}
.site-footer .container{
  max-width: 1040px;
}
.site-footer .logo{
  max-width: 100%;
  height: auto;
}


.logo-area{
  width: 20%;
  float: left;
}
.address-area{
  width: 75%;
  float:left;
  padding: 40px;
}

.footer-social h3{
  font-size: 1.5em;
  margin: 10px 0;
}
.footer-social ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-social a{
  text-decoration: none;
}
.footer-social a:hover{
  text-decoration: none;
}
.footer-social i{
    margin-right: 10px;
    font-size: 1.5em;
}
.shadow-mid {
  height: 226px;
  background: url(../img/sju_skyline.png) no-repeat center bottom;
  position: relative;
  bottom: 6px;
  z-index: 25;
}

.shadow-ground {
  width: 100%;
  background: #fff;
  height: 10px;
  position: absolute;
  bottom: 0;
}