#banner{
  .clearfix();
	background-color: transparent;
	border-top: 8px solid #ddd;
  z-index: 20;
  width: 100%;
}

#top-bar{
  width:100%;
  background-color:white;
}

.site-header-content{
  .make-row();
}
.site-logo{
  img{
    .img-responsive();
    width:50%;
  }
  @media (min-width: @screen-sm-min) {
    .make-sm-column(3);
    img{
      width: 90%;
      margin-top: -15px;
      margin-bottom: 5px;
    }
  }
  @media (min-width: @screen-md-min) {
    margin-top:-10px;
    margin-bottom:5px;
  }
}
.site-header-navigation{
  @media (min-width: @screen-sm-min) {
    .make-sm-column(9);
  }
}
.blogs-brand{
  @media (min-width: @screen-sm-min) {
    .make-sm-column(9);
  }
}
#top-nav{
  background-color:fade(black,50%);
  color:white;
  a{
    color:white;
  }
  
  font-size:.85em;
  padding:10px 0;
  ul{
    margin:0;
  }
}